<h1>What is BMI?</h1>
<p>The body mass index (BMI), or Quetelet index, is a measure for human body shape based on an individual's mass and height.</p>
<p>The BMI is used in a wide variety of contexts as a simple method to assess how much an individual's body weight departs from what is normal or desirable for a person of his or her height.</p>

<h1>Why BMI is important?</h1>
<p>The body mass index, or BMI, is a calculation used to determine your level of body fat. It can help a doctor determine your overall fitness and your risk of developing chronic diseases.</p>

<div class='form_input'>
<form class="form-horizontal" role="form" action="#">
  
  <!-- First name -->
  <div class="form-group">
    <label for="first_name_input" class="col-sm-2 control-label">First name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="first_name_input" data-bind='value: firstName, valueUpdate:"input"' placeholder="Your first name" />
    </div>
    <div class="col-sm-4" data-bind="validationMessage: firstName"></div>
  </div>
  

  <!-- Last name -->
  <div class="form-group">
    <label for="last_name_input" class="col-sm-2 control-label">Last name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="last_name_input" placeholder="Your last name" data-bind='value: lastName, valueUpdate:"input"' />
    </div>
    <div class="col-sm-4" data-bind="validationMessage: lastName"></div>
  </div>  
  
  <!-- His/her age -->
  <div class="form-group">
    <label for="age_input" class="col-sm-2 control-label">Age:</label>
    <div class="col-sm-6">
      <input type="number" class="form-control numeric" name="age_input" data-bind="value: agePerson, valueUpdate: 'input', attr: { min: minAge, max: maxAge }"/>
    </div>
  </div>
  
  <!-- Gender -->
  <div class="form-group">
    <label for="gender_input" class="col-sm-2 control-label">Gender:</label>
    <div class="col-sm-6">
      <select class="select-block mbl">
        s<option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>
    
  <!-- Type of measurement -->
  <div class="form-group">
    <label for="measure_type" class="col-sm-2 control-label">Type Measurement:</label>
    <div class="col-sm-2">
      <label class="radio-inline">
        <input type="radio" name="measure_type" value="Metric" data-bind="checked: booleanValue"> Metric
      </label>
    </div>
    <div class="col-sm-2">
      <label class="radio-inline">
        <input type="radio" name="measure_type" value="Imperial" data-bind="checked: booleanValue"> Imperial
      </label>
    </div> 
  </div>
  
  <!--  Metric Measurement -->
  <!-- Metric Weight -->
  <div class="form-group">
    <label for="weight_input" class="col-sm-2 control-label">Your Weight:</label>
    <div class="col-sm-6">
      <div class="input-group">
      <input type="number" class="form-control numeric" name="weight_input"data-bind="value: weightMetric, attr: { min: minWeightM, max: maxWeightM }"/>
      <span class="input-group-addon">Kilograms</span>
    </div>
    </div>
  </div>

  <!-- Metric Height -->
  <div class="form-group">
    <label for="height_input" class="col-sm-2 control-label">Your Height:</label>
    <div class="col-sm-6">
    <div class="input-group">
      <input type="number" class="form-control numeric" name="height_input" min="1" max="250" step="0.1"data-bind="value: heightMetric, attr: { min: minHeightM, max: maxHeightM }"/>
      <span class="input-group-addon">Centimeters</span>
    </div>
    </div>
  </div>

  <!--  Imperial Measurement-->
  <!-- Imperial Weight -->
  <div class="form-group">
    <label for="weight_input" class="col-sm-2 control-label">Your Weight:</label>
    <div class="col-sm-6">
    <div class="input-group">
      <input type="number" class="form-control numeric" name="weight_input"data-bind="value: weightImperial, attr: { min: minWeightI, max: maxWeightI }"/>
      <span class="input-group-addon">Lbs</span>
    </div>
    </div>
  </div>

  <!-- Imperial Height -->
  <div class="form-group">
    <label for="height_input" class="col-sm-2 control-label">Your Height:</label>
    <div class="col-sm-6">
      <div class="input-group">
      <input type="number" class="form-control numeric" name="height_input" min="1" max="250" step="0.1"data-bind="value: heightImperial, attr: { min: minHeightI, max: maxHeightI }"/>
      <span class="input-group-addon">Inches</span>
    </div>
    </div>
  </div>
</form>

  <!--  Submit button -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button class="btn btn-embossed btn-primary" data-toggle="tooltip" data-placement="top" title="Prepare yourself" data-bind="click: countBMI">Show My BMI!</button>
    </div>
  </div>

    <br><h2><span data-bind='text: fullName'></span></h2> 
    <br><h3><span data-bind='text: resultBMI'></span></h3>  
</div>
<div id="gauge-container">
    <div id="gauge"></div>
</div>
<style scoped>
    #gauge-container {
        background: transparent url("assets/gauge-container.png") no-repeat 50% 50%;
        width: 404px;
        height: 404px;
        text-align: center;
        margin: 0 0 30px 50px;
    }

    #gauge {
        width: 330px;
        height: 330px;
        margin: 0 auto 0;
    }
</style>

<!-- Javascript additional -->
<%= javascript_include_tag "bmi_formula" %>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();

$("select").selectpicker({style: 'btn-hg btn-primary', menuStyle: 'dropdown-inverse'});
$("input.numeric").numeric();
</script>
