//Capitalize the fullName
function Capitalize(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
}

//Calculate water needs
function WaterNeeds(weightImperial)
{
    return (weightImperial*2/3).toFixed(2);
}

//Calculate BMI by type of measurement
function CalculationBMI(booleanValue, heightMetric, heightImperial, weightMetric, weightImperial)
{
    if (booleanValue == "Metric")
    {
        return (weightMetric/Math.pow((heightMetric/100), 2)).toFixed(2);
    }else if(booleanValue == "Imperial")
    {
        return ((weightImperial/(Math.pow(heightImperial,2))) * 703.06957964).toFixed(2);
    }
}

//Find person's type of BMI
function YourType(gender, hasil)
{
    if (hasil < 16)
    {
        return "severely underweight";
    }
    else if(hasil > 16 && hasil < 18.6)
    {
        return "underweight";
    }
    else if(gender == "Male" && hasil > 18.5 && hasil <= 25)
    {
        return "healthy";
    }
    else if(gender == "Female" && hasil > 18.5 && hasil <= 24)
    {
        return "healthy";
    }
    else if(gender == "Male" && hasil > 25 && hasil <= 30)
    {
        return "overweight";
    }
    else if(gender == "Female" && hasil > 24 && hasil <= 29)
    {
        return "overweight";
    }
    else if(gender == "Male" && hasil > 30)
    {
        return "obese";
    }
    else if(gender == "Female" && hasil > 29)
    {
        return "obese";
    }

}

function AppViewModel() {
    //VALIDATION - BEGIN
    ko.validation.configure({
        messagesOnModified: true,
        insertMessages: false,
        errorElementClass: 'validationElement',
        decorateElement: true
    });
    this.firstName = ko.observable("").extend({ required: true, 
            pattern: {
                params: /^([a-z ])+$/i,
                message: "Should be filled by alphabets."},
            minLength: 2,
            maxLength: 25
          });
    this.lastName = ko.observable("").extend({ required: true, 
            pattern: {
                params: /^([a-z ])+$/i,
                message: "Should be filled by alphabets."},
            minLength: 1,
            maxLength: 25
          });
    this.agePerson = ko.observable(20).extend({ number: true,
            required: true,
            pattern:{
                params: /^([0-9])+$/i,
                message: "Should be filled by number."
            }});
    this.weightMetric = ko.observable(0).extend({ number: true,
            required: true,
            pattern:{
                params: /^([0-9.])+$/i,
                message: "Should be filled by number."
            }});
    this.weightImperial = ko.observable(0).extend({ number: true,
            required: true,
            pattern:{
                params: /^([0-9.])+$/i,
                message: "Should be filled by number."
            }});
    this.heightImperial = ko.observable(0).extend({ number: true,
            required: true,
            pattern:{
                params: /^([0-9.])+$/i,
                message: "Should be filled by number."
            }});
    this.heightMetric = ko.observable(0).extend({ number: true,
            required: true,
            pattern:{
                params: /^([0-9.])+$/i,
                message: "Should be filled by number."
            }});
    // BEGIN - Metric Limiter
    limitWeightMetric = ko.computed(function() {
    minWeightM = 1;
    maxWeightM = 220;
    if (this.weightMetric() < minWeightM)
    {
        return this.weightMetric(minWeightM);
    }
    else if (this.weightMetric() > maxWeightM)
    {
         return this.weightMetric(maxWeightM);
    }},this);

    limitHeightMetric = ko.computed(function() {
    minHeightM = 1;
    maxHeightM = 250;
    if (this.heightMetric() < minHeightM)
    {
        return this.heightMetric(minHeightM);
    }else if (this.heightMetric() > maxHeightM)
    {
        return this.heightMetric(maxHeightM);
    }
    },this);
    //END - Metric Limiter

    // BEGIN - Imperial Limiter
    limitWeightImperial = ko.computed(function() {
    minWeightI = 2.20;
    maxWeightI = 440;
    if (this.weightImperial() < minWeightI)
    {
        return this.weightImperial(minWeightI);
    }
    else if (this.weightImperial() > maxWeightI)
    {
         return this.weightImperial(maxWeightI);
    }
    },this);

    limitHeightImperial = ko.computed(function() {
    minHeightI = 0.393701;
    maxHeightI = 200;
    if (this.heightImperial() < minHeightI)
    {
        return this.heightImperial(minHeightI);
    }else if (this.heightImperial() > maxHeightI)
    {
        return this.heightImperial(maxHeightI);
    }
    },this);   
    // END - Imperial Limiter
    
    // BEGIN - Age limiter
    limitAge = ko.computed(function() {
    minAge = 1;
    maxAge = 100;
    if (this.agePerson() < minAge)
    {
        return this.agePerson(minAge);
    }else if (this.agePerson() > maxAge)
    {
        return this.agePerson(maxAge);
    }
    },this);
    //END - Age limiter
    //VALIDATION - END
    
    this.booleanValue = ko.observable('Metric');
    this.resultBMI = ko.observable("");
    this.fullName = ko.observable("");
    this.WN = ko.observable("");
    this.printBtn = ko.observable("");
    this.waterSuggestion = ko.observable("");
    this.WeightType = ko.observable("");
    this.genders = ko.observableArray(['Male', 'Female']);
    this.chosenGender = ko.observableArray(['Male']);
    
    //Automated conversion of weight and height
    calcHImp = ko.computed(function() {
        a = (this.heightMetric() * 0.393701).toFixed(1);
        return this.heightImperial(a);
    },this);
    calcHMet =  ko.computed(function() {
        a = (this.heightImperial() * 2.54).toFixed(1);
        return this.heightMetric(a);
    },this);
    calcMImp = ko.computed(function() {
        a = (this.weightMetric() * 2.20462).toFixed(1);
        return this.weightImperial(a);
    },this);
    calcMMet =  ko.computed(function() {
        a = (this.weightImperial() * 0.453592).toFixed(1);
        return this.weightMetric(a);
    },this);

    this.hasil = ko.computed(function(){
        return CalculationBMI(this.booleanValue(), this.heightMetric(), this.heightImperial(), this.weightMetric(), this.weightImperial());
    },this);

    this.waterNeeds = ko.computed(function(){
        return WaterNeeds(this.weightImperial());
    },this);

    this.genName = ko.computed(function() {
    return "Hello, "+Capitalize(this.firstName()) + " " + Capitalize(this.lastName())+"!";}, this);

    this.genType = ko.computed(function(){
        return  YourType(this.chosenGender(), this.hasil());
    },this);
    this.Suggestion = ko.observableArray([]);
    this.genSugg = ko.computed(function(){
        if (this.genType() == "underweight")
        {
            return ["If you're underweight, aim to gain weight gradually until you're a weight that is healthy for your height and age.",
                    "It’s crucial that you gain weight the right way, and not by eating chocolate, cakes and other high-calorie junk foods full of saturated fat and sugar, or with fizzy drinks. These foods can increase your body fat instead of your lean body mass."];
        }
        else if (this.genType() == "severely underweight")
        {
            return ["Firstly, eliminate all the causes of underweight. Make sure that you do not suffer from underlying illnesses that cause weight loss or hamper weight gain and that other important factors such as medications, depression, or anxiety are not preventing you from gaining weight.",
                    "If you have a clean bill of physical and mental health, the solution to underweight is to ingest more energy on a daily basis than you use up for physiological processes and physical activity.",
                    "This means that you must eat more at each meal and have healthy snacks between meals. If necessary, take a meal supplement .",
                    "It is important to note that if you suspect that you may tend towards an eating disorder, please get help fast. Consult a clinical psychologist and a dietician to help you uncover what is driving you to starve your body and to work out a diet that will help you to gain weight without threat."];
        }
        else if (this.genType() == "healthy")
        {
            return ["Reaching and maintaining a healthy weight is important for overall health and can help you prevent and control many diseases and conditions. If you are overweight or obese, you are at higher risk of developing serious health problems, including heart disease, high blood pressure, type 2 diabetes, gallstones, breathing problems, and certain cancers. That is why maintaining a healthy weight is so important: It helps you lower your risk for developing these problems, helps you feel good about yourself, and gives you more energy to enjoy life.",
                    "There are some tips regarding to maintain your healthy weight.",
                    "Maintain your healthier eating habits regardless of changes in your routine, such as eating out, weekends or holidays. By planning ahead, you're less likely to slip up.",
                    "Research shows that breakfast can help people control their weight. Having breakfast can help you avoid getting too hungry and snacking later on.",
                    "Build up your physical activity levels – if you've already been walking regularly, think about walking for longer, or start running.",
                    "Weigh yourself regularly so you can keep a close eye on any changes to your weight.",
                    "Variety is the spice of life, so if you feel yourself slipping back into old ways, mix things up a bit. Buy a new healthy cookbook, sign up for a healthy cooking course or try a new activity."];
        }
        else if (this.genType() == "overweight")
        {
            return ["You can safely lose 3 or more pounds a week at home with a healthy diet and lots of exercise, says weight loss counselor Katherine Tallmadge, RD.",
                    "If you burn 500 more calories than you eat every day for a week, you should lose about 1-2 pounds.",
                    "If you want to lose weight faster, you'll need to eat less and exercise more.",
                    "For instance, if you take in 1,050 to 1,200 calories a day, and exercise for one hour per day, you could lose 3-5 pounds in the first week, or more if you weigh more than 250 pounds. It's very important not to cut calories any further -- that's dangerous.",
                    "Limiting salt and starches may also mean losing more weight at first -- but that's mostly fluids, not fat."];
        }
        else if (this.genType() == "obese")
        {
            return ["You can safely lose 3 or more pounds a week at home with a healthy diet and lots of exercise, says weight loss counselor Katherine Tallmadge, RD.",
                    "If you burn 500 more calories than you eat every day for a week, you should lose about 1-2 pounds.",
                    "If you want to lose weight faster, you'll need to eat less and exercise more.",
                    "You should not take heavy exercise. You can walk around 30-60 minutes. You may start to jog when you are overweight.",
                    "For instance, if you take in 1,050 to 1,200 calories a day, and exercise for one hour per day, you could lose 3-5 pounds in the first week, or more if you weigh more than 250 pounds. It's very important not to cut calories any further -- that's dangerous.",
                    "Limiting salt and starches may also mean losing more weight at first -- but that's mostly fluids, not fat."];
        }
    },this);
    this.countBMI = function(){
        if(this.firstName.isValid() == true && this.firstName.isValid() == true && this.agePerson.isValid() == true && this.weightMetric.isValid() == true && this.weightImperial.isValid() == true && this.heightMetric.isValid() == true && this.heightImperial.isValid() == true)
        {
            this.resultBMI("Your BMI is "+this.hasil());
            this.Suggestion(this.genSugg());
            this.fullName(this.genName());
            this.WeightType(" and you are "+this.genType()+".");
            this.WN("You need "+this.waterNeeds()+" ounces of water a day. Or "+(this.waterNeeds()*0.029573).toFixed(2)+" litres a day.");
            this.waterSuggestion("You may drink 12 ounces or 355 ml of water more every 30 minutes workout.");
            this.printBtn("<button type='submit' class='btn btn-embossed btn-primary' data-toggle='tooltip' data-placement='top' title='Print the result'>Save the result</button>");
        }
        else
        {
            alert('Please check your submission.');
        }
    }

}

ko.applyBindings(new AppViewModel());

